{
  "sum_service":"",
  "search_sum": false,
  "bibigpt_key": "",
  "sum4all_key": "",
  "outputLanguage": "zh-CN",
  "group_sharing": true,
  "opensum_key": "",
  "open_ai_api_key": "",
  "model": "gpt-3.5-turbo",
  "open_ai_api_base": "https://api.openai.com/v1",
  "prompt": "你是一个新闻专家，我会给你发一些网页内容，请你用简单明了的语言做总结。第一部分是「📌总结」，一句话讲清楚整篇文章的核心观点，控制在50字左右，第二部分是「💡要点」，用数字序号列出来3-5个文章的核心内容。如果需要可以使用emoji让你的表达更生动"
}
